@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Days+One&display=swap');

.header-container {
  position: relative;
}

h1 {
  color: #F5972A;
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
}

.botoes {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  color: aliceblue;
}

button {
  background-color: rgba(240, 248, 255, 0);
  border: none;
  cursor: pointer;
  font-family: "Dancing Script", cursive;
  margin: 2rem;
  font-size: 1.5rem;
}

.botao-com-popup {
  position: relative;
  display: inline-block;
}

.caixa-modal {
  position: absolute;
  top: 100%;
  background-color: #9AB2FF;
  padding: 2rem;
  border-radius: 12px;
  width: 15rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  z-index: 9999;
}

.caixa-modal h2 {
  color: #F5972A;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-family: "Days One", sans-serif;
}

.caixa-modal ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 10rem;
}

.caixa-modal button {
  background-color: #151835;
  color: #F5972A;
  border: none;
  height: 3rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  font-family: "Days One", sans-serif;
}

.caixa-modal button:hover {
  background-color: #1E2142;
}

.botao-fechar {
  margin-top: 10px;
  background-color: #822020 !important;
  color: white !important;
  border: none;
  width: 10rem !important;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

button:disabled {
  background-color: hsla(234, 43%, 15%, 0) !important;
}

.btn-pagina {
  background-color: transparent;
  border: none;
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  margin: 2rem;
  cursor: pointer;
  color: aliceblue;
}

.btn-pagina.ativo {
  background-color: #9AB2FF;
  color: #000;
  border-radius: 8px;
}

.btn-pagina.inativo {
  background-color: transparent;
  color: aliceblue;
}

.btn-nav {
  background-color: transparent;
  border: none;
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  margin: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-nav.inativo {
  color: white;
}

.btn-nav.ativo {
  background-color: #9AB2FF;
  color: #000;
  border-radius: 8px;
}